@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  img {
    height: auto;
    display: block;
    object-fit: cover;
  }

  @import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

  :root {
    --font-size_h1md: 75px;
    --font-size_h1: 60px;
    --font_size_pmd: 16px;
    --font_size_h2md: 65px;
    --font_size_h3md: 45px;
    --font_size_p: 10px;

    --color_pink: #e28ca7;
    --color_red: #de3828;
    --color_black: #0b0a0c;
    --color_grey: #cdcdcd;
    --color_white: #e7e5d9;
  }

  .inter-light {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
  }

  .inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }

  .inter-black {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
  }

  html {
    color: var(--color_red);
    background-color: var(--color_white);
  }
  h1 {
    font-size: var(--font-size_h1);
  }
  h2 {
    font-size: var(--font_size_h3md);
  }

  h3 {
    font-size: 35px;
  }

  p {
    font-size: var(--font_size_p);
  }
  a {
    cursor: pointer;
    transition: all 0.55s ease;
  }
  li {
    font-size: var(--font_size_p);
  }
}

@media screen and (min-width: 550px) {
  h1 {
    font-size: var(--font-size_h1md);
    padding-bottom: 30px;
  }
  h2 {
    font-size: var(--font_size_h2md);
  }

  h3 {
    font-size: var(--font_size_h3md);
  }
  p {
    font-size: var(--font_size_pmd);
  }
  li {
    font-size: var(--font_size_pmd);
  }
}

@layer utilities {
  .load {
    pointer-events: auto; /* Deaktiver klik på elementet under animation */
  }
  .scale-in-hor-left {
    -webkit-animation: scale-in-hor-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-hor-left 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    pointer-events: auto; /* Gør links klikbare */
  }

  @-webkit-keyframes scale-in-hor-left {
    0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-left {
    0% {
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
    }
  }
}
