---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Titel">
	  <section class="max-w-6xl mx-auto md:grid grid-cols-2">
<div class="pt-28"><h1 class="inter-black pl-10 fade-in">Nora Skjevik</h1>
	<h2 class="fade-in">Hello,</h2>
<p class="fade-in inter-regular w-[300px] md:w-[500px]">I am Nora Skjevik, a Multimedia Design student with focus on digital design at KEA.
	This profile is created for you to get to know me better, explore my previous work, and discover the skills I have developed throughout my education.</p>
<div class="fade-in flex flex-row space-x-5 pl-28 pt-9">
	<a href="#läsmer"><Button>Learn more</Button></a>
	<a href="#kontakta"><Button>Contact me</Button></a>
</div>
</div>
<img class="fade-in pl-14 max-h-[599px]" src="/norapan.png" alt="Norapan">
	  </section>
	  <svg id="scrollArrow" width="24" height="0" viewBox="0 0 24 1202" fill="none" xmlns="http://www.w3.org/2000/svg" class="fixed left-1/2 top-0 transform -translate-x-1/2 text-red-500">
		<path d="M10.9393 1201.06C11.5251 1201.65 12.4749 1201.65 13.0607 1201.06L22.6066 1191.51C23.1924 1190.93 23.1924 1189.98 22.6066 1189.39C22.0208 1188.81 21.0711 1188.81 20.4853 1189.39L12 1197.88L3.51472 1189.39C2.92893 1188.81 1.97919 1188.81 1.3934 1189.39C0.807611 1189.98 0.807611 1190.93 1.3934 1191.51L10.9393 1201.06ZM10.5 0L10.5 1200H13.5L13.5 0L10.5 0Z" fill="#DE3828"/>
	  </svg>
	<h2 id="about" class="inter-black pl-10">about</h2>
	<section id="läsmer" class="max-w-6xl mx-auto">
	<article class="grid md:grid-cols-2 space-x-16">
	  <div>
		<h3 class="inter-light md:pt-10">Nora Skjevik</h3>
		<p class="inter-regular w-[300px] md:w-[500px]">
			Design and web design are my passions. I find them fun, refreshing, and inspiring to explore. What I enjoy most is creating designs with a real "wow factor"—designs that make people think and inspire others.</p>
	  </div>
	  <div>
		<h3 class="pt-10" id="kontakta">Contact me on</h3>
		<div class="flex flex-col gap-1"><p>+45 93869610</p> <p>nora@exceptive.se</p> <div class="pt-2 hover:opacity-75"><a href="https://www.linkedin.com/in/nora-skjevik-dahlstr%C3%B6m-491612274/" class="pt-2 hover:opacity-75"><svg width="28" height="28" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32 16C35.1826 16 38.2348 17.2643 40.4853 19.5147C42.7357 21.7652 44 24.8174 44 28V42H36V28C36 26.9391 35.5786 25.9217 34.8284 25.1716C34.0783 24.4214 33.0609 24 32 24C30.9391 24 29.9217 24.4214 29.1716 25.1716C28.4214 25.9217 28 26.9391 28 28V42H20V28C20 24.8174 21.2643 21.7652 23.5147 19.5147C25.7652 17.2643 28.8174 16 32 16Z" stroke="#DE3828" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M12 18H4V42H12V18Z" stroke="#DE3828" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 12C10.2091 12 12 10.2091 12 8C12 5.79086 10.2091 4 8 4C5.79086 4 4 5.79086 4 8C4 10.2091 5.79086 12 8 12Z" stroke="#DE3828" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></a></div></div>

	  </div>
	</article>
</section>
	<h2 id="skills" class="inter-black pl-10 mt-16">skills</h2>
	<section class="grid grid-cols-2 max-w-6xl mx-auto pb-14">
	<div class="space-y-14 p-7 load">
			  <div class="h-[4px] w-[100%] bg-red lg:w-[393px] scale-in-tl"></div>
			  <div class="h-[4px] w-[80%] bg-red lg:w-[311px] scale-in-tl"></div>
			  <div class="h-[4px] w-[60%] bg-red lg:w-[220px] scale-in-tl"></div>
			  <div class="h-[4px] w-[60%] bg-red lg:w-[220px] scale-in-tl"></div>
			  <div class="h-[4px] w-[120%] bg-red lg:w-[440px] scale-in-tl"></div>
			  <div class="h-[4px] w-[120%] bg-red lg:w-[440px] scale-in-tl"></div>
			  <div class="h-[4px] w-[110%] bg-red lg:w-[410px] scale-in-tl"></div>
			  <div class="h-[4px] w-[90%] bg-red lg:w-[331px] scale-in-tl"></div>
	  </div>
	  <div class="space-y-5 pl-10 pt-3 text-4xl">
<p>Visual Studio code</p>
<p>Figma</p>
<p>Adobe Illustrator</p>
<p>Adobe Premiere Pro</p>
<p>HTML</p>
<p>CSS</p>
<p>Tailwind CSS</p>
<p>JavaScript</p>
	  </div>
	</section>
	<section class="mt-16 relative h-[500vh]">
		<h2 id="previous" class="font-black pl-10 pb-10">previous projects</h2>
		<p class="inter-regular pl-20 pb-4">Scroll through some of my projects and click on them to see more.</p>
		<a href="https://plasticsucks.netlify.app/" class="cursor cursor-handcursor" target="_blank">
		<div class="sticky top-0 w-full h-screen object-cover z-10">
		  <img class="w-full h-full object-cover" src="/sus.jpg" alt="single use sucks projekt">
		  <div class="absolute inset-0 flex items-center justify-center">
		  </div>
		</div></a>
	  
		<a href="https://holdihaand.netlify.app/" class="cursor cursor-handcursor" target="_blank">
			<div class="sticky top-0 w-full h-screen object-cover z-20">
		  <img class="w-full h-full object-cover" src="/holdihaand.jpg" alt="holdihånd projekt">
		  <div class="absolute inset-0 flex items-center justify-center">
		</div>
		</div></a>
	  
		<a href="https://www.figma.com/proto/LBhp6Ex43fwv2Cn2UmtHhD/Karusell-gang?node-id=195-1332&node-type=frame&t=eDY4CvF8nMM1dKSj-0&scaling=scale-down&content-scaling=fixed&page-id=1%3A14&starting-point-node-id=162%3A329" class="cursor cursor-handcursor" target="_blank">
		<div class="sticky top-0 w-full h-screen object-cover z-30">
		  <img class="w-full h-full object-cover" src="/karrusell.jpg" alt="Karusell projekt">
		  <div class="absolute inset-0 flex items-center justify-center">
		  </div>
		</div></a>
	  
		<a href="https://digitalcleanupday2.netlify.app/" class="cursor cursor-handcursor" target="_blank">
		  <div class="sticky top-0 w-full h-screen object-cover z-40">
		  <img class="w-full h-full object-cover" src="/dcud.jpg" alt="Digital cleanup day projekt">
		  <div class="absolute inset-0 flex items-center justify-center">
		  </div>	
		</div></a>
	  </section><!--knapp*****-->
  </MainLayout>

  <script>
	  import { inView } from "motion";

	const inviewelement = document.querySelector(".load");
	inView(
		inviewelement, () => {
			inviewelement.classList.add("scale-in-hor-left")
		}
	)

	const inviewelement2 = document.querySelector(".load2");
	inView(
		inviewelement2, () => {
			inviewelement2.classList.add("slide-top")
		}
	)
    document.addEventListener('scroll', () => {
      const scrollY = window.scrollY; // Hämtar hur långt ner man har skrollat
      const maxHeight = 1200; // Maximal höjd för pilen
      const arrow = document.getElementById('scrollArrow');

      // Sätter höjden baserat på skrollning, men aldrig över maxhöjden
      const newHeight = Math.min(scrollY, maxHeight);
      arrow.setAttribute('height', newHeight);
    });
  </script>
  