---
---
<!--
<div x-data="{ showmenu: false }" class="p-4 fixed top-0 w-full bg-red/5 fade-in z-50">
    <div id="navbar" class="flex flex-row">
        <div id="logo">
            <a href="/">
                <img src="/logo.svg" alt="logo" class="hover:opacity-75" />
            </a>
        </div>
        <nav id="desktopmenu" class="hidden lg:block">
            <ul class="flex flex-row gap-24 pt-3 pl-28">
            <li class="hover:opacity-75"><a href="#about">about</a></li>
            <li class="hover:opacity-75"><a href="#skills">skills</a></li>
            <li class="hover:opacity-75"><a href="#previous">previous projects</a></li>
            </ul>
        </nav>
        <button id="burgermenu" class="pt-5 fixed right-8 pr-4 lg:hidden hover:opacity-75" x-on:click="showmenu = ! showmenu">Menu</button>
    </div>
    <nav id="mobilmenu" class="fixed right-8 flex flex-col content-center pt-2" 
        x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul>
            <li class="hover:opacity-75"><a href="#about">about</a></li>
            <li class="hover:opacity-75"><a href="#skills">skills</a></li>
            <li class="hover:opacity-75"><a href="#previous">previous projects</a></li>
        </ul>
    </nav>
</div>

 -->
<div class="fixed top-[4vh] left-[4vh] right-[4vh] flex justify-between text-sm z-[999]">
    <a class="hover:underline" href="#contact">nora@exceptive.se</a>
    <a class="hover:underline" href="#contact">+4593869610</a>
</div>
 <div class="fade-in text-sm md:text-base max-w-screen-xl bg-white/80 border border-red rounded-full min-w-[400px] md:w-[571px] md:h-[46px] fixed bottom-[4vh] px-[25px] justify-between left-1/2 transform -translate-x-1/2 flex items-center z-[999]">
    <a href="/"><img class="w-10" src="/logo.svg" alt="logo"></a>
    <a class="hover:underline" href="#about">about</a>
    <a class="hover:underline" href="#skills">skills</a>
    <a class="hover:underline" href="#previous">previous projects</a>
</div>